[submodule "Pointnet_Pointnet2_pytorch"]
	path = Pointnet_Pointnet2_pytorch
	url = https://github.com/yanx27/Pointnet_Pointnet2_pytorch.git
[submodule "torch_helper"]
	path = torch_helper
	url = git@github.com:Halmoni100/torch_helper.git
